<h1>About</h1>
<p>This website is created to motivate and inspire you to go out and actually achieve your goals, Buket List allows you to create your own online bucket list and keep track of your life’s goals. Simply include whatever you still want to do, see or experience in your life and set deadlines for yourself.
<br>
<br>
If you have achieved one of your goals, you can add a date, picture and description. It is then added to your list of completed bucket list items. This will help you create a set of memories of all the important milestones of your life, which you can look back on.</p>
